{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          In a world of human ingenuity, our platform curates boundless knowledge.
          A haven for seekers, we share empowering resources across disciplines,
          celebrating curiosity that drives programmers.
        </p>
        <p>
          As architects of the digital age, our website showcases coding's creative potential.
          We present a mosaic of curated knowledge, where concepts flourish into captivating creations.
        </p>
        <p>
         Embracing innate curiosity, our site flourishes as a learning sanctuary.
          Each code snippet advances our understanding, creating resonant experiences
          that inspire exploration and growth.
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
